<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Video App</title>
    <style media="screen">
      *{
        margin: 0.2rem;
      }
      #videoDiv{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        margin: 1rem;
        align-items: center;
      }
      .other-video{
        flex-grow: 1;
      }
      .my-video{
        
      }
    </style>
    <script type="text/javascript">
      var roomID = "<%= RoomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="socket.io/socket.io.js" defer></script>
    <script src="index.js" charset="utf-8" defer></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <%- include('partials/top') %>
    <!-- <h1 style="color: white; text-align: center; font-family: sans-serif">Online Therapy Session</h1> -->
    <div id="videoDiv" class="video">
        <video id="other-video" class="other-video">

        </video>
        <video id="my-video" class="my-video">

        </video>
    </div>
    
  </body>
</html>
