<%- include('partials/header') %>  
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel rested</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="1" value="4"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="1" value="3"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="1" value="2"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="1" value="1"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel too many demands are being made on you</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="2" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="2" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="2" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="2" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You are irritable or grouchy</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="3" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="3" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="3" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="3" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You have too many things to do</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="4" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="4" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="4" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="4" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel lonely or isolated</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="5" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="5" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="5" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="5" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You find yourself in situation of conflict</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="6" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="6" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="6" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="6" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel you are doing things you like</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="7" value="4"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="7" value="3"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="7" value="2"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="7" value="1"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel tidodgerblue</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="8" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="8" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="8" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="8" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel you may not achieve you goal</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="9" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="9" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="9" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="9" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel calm</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="10" value="4"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="10" value="3"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="10" value="2"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="10" value="1"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You have too many decisions to make</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="11" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="11" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="11" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="11" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You are frustrated</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="12" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="12" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="12" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="12" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You are full of energy</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="13" value="4"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="13" value="3"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="13" value="2"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="13" value="1"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel tense</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="14" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="14" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="14" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="14" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You problems are piling up</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="15" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="15" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="15" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="15" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel you are in a hurry</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="16" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="16" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="16" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="16" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You have too many things to do</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="17" value="4"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="17" value="3"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="17" value="2"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="17" value="1"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You have many worries</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="18" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="18" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="18" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="18" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You have many pressures from others</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="19" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="19" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="19" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="19" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel discouraged</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="20" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="20" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="20" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="20" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You enjoy yourself</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="21" value="4"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="21" value="3"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="21" value="2"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="21" value="1"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You are afraid of future</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="22" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="22" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="22" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="22" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel you are doing because you have to not because you want to</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="23" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="23" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="23" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="23" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel criticized or judged</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="24" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="24" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="24" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="24" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You are lighthearted</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="25" value="4"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="25" value="3"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="25" value="2"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="25" value="1"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel mentally exhausted</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="26" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="26" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="26" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="26" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You have trouble relaxing</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="27" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="27" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="27" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="27" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You feel loaded down with responsibility</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="28" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="28" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="28" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="28" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You have enough time for yourself</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="29" value="4"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="29" value="3"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="29" value="2"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="29" value="1"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">You fell under pressure from deadlines</h5>
                    </div>
                    <div class="ans ml-2">
                    <label class="radio"><input type="radio" name="30" value="1"><span>Almost</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="30" value="2"><span>Sometimes</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="30" value="3"><span>Often</span>
                    </label>    
                    </div><div class="ans ml-2">
                    <label class="radio"><input type="radio" name="30" value="4"><span>Usually</span>
                    </label>    
                    </div>
                </div>
                <br>
            </div>
            <button
                type="button"
                id="myBtn"
                class="btn btn-primary btn-block"
                style="background-color:dodgerblue; text-align: center"
                onclick="Answer()"
            >
                Submit
            </button>
        </div>
    </div>
</div>
<style>
    body{
    background-color:#eee;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0; 
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding: 4px 0px;
  border: 1px solid dodgerblue;
  display: inline-block;
  color: dodgerblue;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  margin-top: 7px;
  text-transform: uppercase;
}

label.radio input:checked + span {
  border-color: dodgerblue;
  background-color: dodgerblue;
  color: #fff;
}

.ans {
  margin-left: 36px !important;
}

.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn:active {
  outline: 0 !important;
  box-shadow: none !important;
}
</style>
<%- include('partials/footer') %>  
<script>
    function Answer(){
        let result=0;
        input=document.getElementsByTagName("input");
        label=document.getElementsByTagName("label");
        for(let i=0;i<120;i++){
            if(label[i].style.backgroundColor=="dodgerblue"){
                result+=Number(input[i].value);
            }
        }
        result=(result-30)/90;
        console.log(result);
    }
</script>
